<!--The content below is only a placeholder and can be replaced.-->
<h1>US Time Zone Display</h1>

<button (click)="pstDate()"[ngClass]="{yellow:timeZone ==='PST'}">PST</button> 
<button (click)="mstDate()"[ngClass]="{yellow:timeZone ==='MST'}">MST</button> 
<button (click)="cstDate()"[ngClass]="{yellow:timeZone ==='CST'}">CST</button> 
<button (click)="estDate()"[ngClass]="{yellow:timeZone ==='EST'}">EST</button> 
<button (click)="clearDate()">Clear</button>

<div>
    <h2 *ngIf="time != 0">{{time  | date:'medium'}}</h2>
   
</div>


